{% extends 'SyliusAssortmentBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Assortment products.<small> List of all registered products in assortment...</small></h1>
</div>

{% if products %}
    {% for product in products %}
        <div class="well">
            <h2>{{ product.name }}</h2>
            {{ sylius_assortment_cut_text(product.description, 256, '...') }}
            <a href="{{ path('sylius_assortment_product_show', {'id': product.id, 'slug': product.slug}) }}" class="btn pull-right">more info...</a>
        </div>
    {% endfor %}
{% else %}
<div class="alert-message info">
  <p><strong>Information.</strong> No products to display.</p>
</div>
{% endif %}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap', {'prev_message': "previous page...", 'next_message': "next page..."}) }}
{% endif %}

{% endblock %}
